<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carcassonne.gameserver.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.carcassonne.gameserver.bean.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="account_num" jdbcType="VARCHAR" property="accountNum" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="level" jdbcType="VARCHAR" property="level" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="head_picture_url" jdbcType="VARCHAR" property="headPictureURL" />
    </resultMap>


    <insert id="insertUser" parameterType="com.carcassonne.gameserver.bean.User">

        insert into user (account_num,password,
        sex,level,nickname,head_picture_url)
        values (#{accountNum,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},
        #{sex,jdbcType=VARCHAR},#{level,jdbcType=VARCHAR},#{nickname,jdbcType=VARCHAR},#{headPictureURL,jdbcType=VARCHAR})
    </insert>

</mapper>